quotation-home {
    padding: 24px;

    table {
        width: 100%;
    }

    .empty-display {
        padding-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}