confirm-dialog {
    .close {
        font-size: 16px !important;
    }

    .title {
        padding: 16px;
    }

    .content {
        padding-top: 8px;
    }

    .actions-buttons {
        padding-top: 32px;
    }
}