create-receipt-dialog {
     overflow: auto;
    width: 100%;
    
    .receipt {
        padding: 32px;
        display: flex;
        .receipt-number-align {
             transform: rotate(-90deg);
             letter-spacing:0.1em;
             float:left;
        }
    }

    table {
        td:last-child {
            border-bottom: 1px solid
        }
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }
}