<!-- Toolbar -->
<div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="space-between center">
  <div style="padding: 8px;">
    <button mat-button [routerLink]="['/inspection-home']" [routerLinkActive]="'is-active'">Home</button>
    <button mat-button [routerLink]="['/inspections-list']" [routerLinkActive]="'is-active'">Inspecciones</button>
    <button mat-button [routerLink]="['/clients-home']" [routerLinkActive]="'is-active'">Clientes</button>
    <button mat-button [routerLink]="['/quotation-home']" [routerLinkActive]="'is-active'">Cotizaciones</button>
  </div>
  <div *ngIf="user" style="margin-right: 24px;">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-icon>account_circle</mat-icon>
      &nbsp;<span>{{user.userFullName}}</span>
      &nbsp;
      <button mat-icon-button (click)="logout()">
        <mat-icon matTooltip="Apagar sistema">power_settings_new</mat-icon>
      </button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>